---
import Layout from '../layouts/MainLayout.astro';

---

<Layout title="Charle Cantin">
	<main class="flex items-center justify-center h-full landing">
		<div class="center">
			<h1 class="text-6xl">Charle Cantin - Photographe</h1>
		</div>
    
	</main>
</Layout>


