---
import Layout from '../layouts/MainLayout.astro';
import Tarif from '../components/Tarif.astro';
import MainLayout from '../layouts/MainLayout.astro';
const tarifs = await Astro.glob("../content/rates/*.md")
---

<MainLayout title="tarifs">
	<main>
{
	tarifs.map((tarif)=>{
		return(
			<Tarif title={tarif.frontmatter.title}
			price={tarif.frontmatter.price}></Tarif>
		)
	})
}
	</main>
</MainLayout>