---

const {image, category} = Astro.props

---

<div class="photocard p-4 min-[240px] h-auto mb-4 " data-category={category}>
  <img src={image} alt={category} class="w-full h-full object-cover">

</div>