---
const {title, price, description} = Astro.props
---


<div class="tarif-card  mx-3 bg-white p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow">
		<h3 class="text-xl mb-4">{title}</h3>
		<p>{description}</p>
		<p class="text-indigo-500 text-2xl mt-4">{price}€</p>
</div>